@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
  color: #222222;
}

li {
  list-style: none;
}

/*NAVBAR SECTION*/
/* Navbar Styles */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.2s;
}
/* Navbar Visibility Animation */
@keyframes show-content {
  100% {
    visibility: visible;
    opacity: 1;
  }
}
/* Logo Styles */
.navbar .logo {
  font-size: 30px;
  font-weight: 700;
}
/* Navbar Links */
.navbar ul {
  display: flex;
}
/* Navbar List Items */
.navbar ul li {
  list-style: none;
  margin-left: 35px;
}
/* Navbar Link Styles */
.navbar ul li a {
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
}
/* Navbar Link Hover and Active Styles */
.navbar ul li:hover a,
.navbar ul li.active a {
  color: #7b7b7b;
}

/*CONTENT SECTION*/
.home {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 100vh;
  padding: 60px 9% 0%;
  color: #222222;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.6s;
}

/* Home Info Styles(Name) */
.home-info h1 {
  font-size: 60px;
}
/* Home Info Styles(Job Description) */
.home-info h2 {
  display: inline-block;
  font-size: 32px;
  margin-top: -10px;
}
.home-info h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px #222222;
  opacity: 0;
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}
/*Animation for the text stroke effect*/
@keyframes display-text {
  0%,
  20% {
    opacity: 0;
  }
  25%,
  45% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
.home-info h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0%;
  border-right: 2px solid #7b7b7b;
  color: #7b7b7b;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%,
  100% {
    width: 0%;
  }

  70%,
  90% {
    width: 100%;
  }
}

/* Home Info Styles(Paragraph) */
.home-info p {
  font-size: 18px;
  margin: 10px 0 25px;
}
/* Home Info Styles(Button (CV and Socials)) */
.home-info .btn-sci {
  display: flex;
  align-items: center;
}
/*Download CV Button Styles */
.btn {
  display: inline-block;
  padding: 10px 30px;
  background: #7b7b7b;
  border: 2px solid #7b7b7b;
  border-radius: 40px;
  box-shadow: 0 0 10px #7b7b7b;
  font-size: 18px;
  color: #222222;
  font-weight: 600;
  transition: 0.5s ease;
}
.btn:hover {
  background: transparent;
  color: #7b7b7b;
  box-shadow: 0 0 10px #222222;
}
/* Social Icons Styles */
.home-info .btn-sci .sci {
  margin-left: 20px;
}
/*Social media links styles */
.home-info .btn-sci .sci a {
  display: inline-flex;
  padding: 8px;
  border: 2px solid #7b7b7b;
  border-radius: 50%;
  font-size: 20px;
  color: #222222;
  margin: 0 8px;
  transition: 0.5s ease;
}
.home-info .btn-sci .sci a:hover {
  background: #7b7b7b;
  color: #ffffff;
  box-shadow: 0 0 10px #7b7b7b;
}
/* Home Image Styles */
.home-img .img-box {
  position: relative;
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after {
  content: " ";
  position: absolute;
  width: 500px;
  height: 500px;
  background: conic-gradient(transparent, transparent, transparent, #7b7b7b);
  transform: rotate(0deg);
  animation: rotate-border 4s linear infinite;
}
.home-img .img-box::after {
  animation-delay: -2s;
}
@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}
.home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  border-radius: 50%;
  border: 0.1px solid #f8f8f8;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}
.home-img .img-box .img-item img {
  position: absolute;
  display: block;
  width: 85%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: luminosity;
}

/* Services Section Styles */
/* Programming Languages*/
.services {
  padding: 40px 9%;
  background: #f8f8f8;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.6s;
  width: 100%;
}

.services .program-languages {
  text-align: center;
}

.services .program-languages h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #222222;
}
.services .program-languages ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
}
.services .program-languages ul li {
  padding: 10px 30px;
  background: #7b7b7b;
  border: 2px solid #7b7b7b;
  border-radius: 40px;
  box-shadow: 0 0 10px #7b7b7b;
  font-size: 18px;
  color: #222222;
  font-weight: 600;
  transition: 0.5s ease;
}
.services .program-languages ul li:hover {
  background: transparent;
  color: #7b7b7b;
  box-shadow: 0 0 10px #222222;
  cursor: pointer;
}
.services .program-languages .prog-icon ul li {
  align-items: center; /* Vertically center icon and text */
  justify-content: center;
}
.prog-icon ul li i {
  font-size: 20px;
}
.prog-icon ul li i:hover {
  color: #7b7b7b;
  transition: color 0.3s ease;
}
.services .prog-icon .bxl {
  font-size: 24px;
  margin-right: 10px;
}

/* Portfolio Section */
/* List all my projects*/
.portfolio {
  padding: 40px 9%;
  background: #f8f8f8;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.6s;
  width: 100%;
}
.portfolio .portfolio-info h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #222222;
}
.projects {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* ensures responsiveness */
  justify-content: center;
  margin-top: 40px;
}
.projects .project {
  background-color: #7b7b7b;
  border: 2px solid #7b7b7b;
  border-radius: 12px;
  padding: 20px;
  width: 333px;
  box-shadow: 0 0 10px #222222;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.project:hover {
  transform: translateY(-5px);
  background: #f8f8f8;
  color: #7b7b7b;
  box-shadow: 0 0 10px #222222;
  cursor: pointer;
}
.project h3 {
  margin-top: 0;
  color: #333;
}

/* Contact Section (How to contact me) */
.contact {
  padding: 40px 9%;
  background: #f8f8f8;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.6s;
  width: 100%;
}
.contact .contact-info h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #222222;
}
.contact .contact-info .contact-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #222222;
  text-decoration: none;
}
.contact .contact-info .contact-link .icon {
  font-size: 24px;
  margin-right: 10px;
}
.contact-card {
  background-color: #7b7b7b;
  border: 2px solid #7b7b7b;
  border-radius: 12px;
  padding: 20px 20px;
  width: 100%;
  /* margin: auto; */
  box-shadow: 0 0 10px #222222;
}
.contact-card .contact-methods {
  display: flex;
  gap: 40px;
  justify-content: space-around;
}
.contact-methods:hover {
  transform: translateY(-1px);
  color: #f8f8f8;
}

/*BARS ANIMATION load when page loads*/
.bars-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}
/* Make bars behind the screen and animate them one by one */
.bars-animation .bar {
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  transform: translateY(-100%);
  animation: show-bars 0.5s ease-in-out forwards;
  animation-delay: calc(var(--i) * 0.1s);
}
/*Animate bars*/
@keyframes show-bars {
  100% {
    transform: translateY(0);
  }
}
